@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    min-width: 300px;
    background-color: rgb(25, 25, 27);
}

/*CONTAINER GERAL*/

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*SECTION HEADER*/

header{
    display: flex;
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.container_main_section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*SECTION 01*/

#section_inicial_01{
    padding:.8em;
    width: 100%;
    height: 400px;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgb(19, 18, 29) 30%, rgb(25, 25, 27) 56%);
color: #FFF;
}
.title_message{
    padding: .9em 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
   font-weight: lighter;
    font-family: 'Gasoek One', sans-serif;
}

.paragraph_message{
    padding-bottom: 2em;
    opacity: .7;
    font-family: 'Nunito Sans', sans-serif;
}
#button_message_inital{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#5454D4 ;
    border: none;
    padding: .7em;
    width: 170px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}

/*SECTION 02*/

#section_second_02{
    margin-top: 70px;
    width: 100%;
    height: 450px;
}
#container_images_NO{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(55,34,19);
background: radial-gradient(circle, rgb(46, 21, 4) 0%, rgba(25,25,27,1) 66%);
}
#circulos,#onda,#mais,.play{
    position: absolute;
}

#jovem{
    width: 300px;
}
#circulos{
    top: 40px;
    right: 20px;
}
#onda{
    top: 60px;
    left: 5px;
}
#mais{
    right: 20px;
    bottom: 65px;
}
.play{
    left: 0;
    bottom: 20px;
}

/*SECTION 03*/

#section_second_03{
    color: #fff;
    position: relative;
    padding: .8em;
    width: 100%;
    height: 430px;
  
}

#title_section_03{
    font-size: 1.7em; 
}
#paragraph_section_03{
    font-size: 14px;
}

.container_img{
    margin: 0 auto;
    min-width:300px;
    min-height:200px;
    max-width: 800px;
    max-height: 500px;
    width: auto;
    height: auto;
}

#bg{
   width: 100%;
   height: 100%;
}

/*SECTION 04*/

#section_second_04{
    margin-top: 10px;
    padding: .8em;
    color: #fff;
}

#title_section_04{
    font-size: 1.8em;
    position: relative;
}
.play_title{
    position: absolute;
    top: -35px;
    left: 0;
}
#mais_section_04{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
}

/*SECTION 05*/


#section_second_05{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: lighter;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 10px;
}
.card{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}
.paragraph_card{
    padding: .9em;
    max-width: 85%;
    font-size: 12px;
    opacity: .7;
}

@media (min-width: 600px)
{
    #section_second_04{
        margin-top: 100px;
        
    }
    #section_second_02{
        margin-top: 30px;
       
    }
    
}


@media (min-width: 768px)
{
    #section_second_04{
        margin-top: 180px;
     
    }
    
}
@media (min-width:998px)
{
    #section_second_02{
        margin-top: 0px;
       
    }
    .container_main_section{
        
        flex-direction: row;
        align-items: center;
    }
}
